:root {
    --primary-color: #ff7b00;
    --primary-color-light: #ff9900;
    --text-light: rgb(248, 249, 250);
    --text-dark: #000050;
    --background-dark: #212529;
    --background-light: #f8f9fa;
    --color-gray: rgba(248, 249, 250, 0.5);
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--background-dark);
    color: var(--text-light);
}

svg {
    fill: currentColor;
}

a,
a:focus,
a:hover,
.nav-link,
.nav-link:focus,
.nav-link:hover {
    color: var(--text-light);
}

.color-text {
    color: var(--text-light);
}

.color-primary {
    color: var(--primary-color);
}

.btn-main {
    color: var(--text-light);
    background-color: var(--primary-color);
}

.btn-main:hover {
    color: var(--text-light);
    background-color: var(--primary-color-light);
}

@media not all and (min-width: 48em) {
    .mobileHide {
        display: none;
    }
}

/*
 * scrollbar style
 */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

/*
 * Header
 */

.searchBar {
    width: auto;
    flex-grow: 1;
}

.mobileMenu {
    display: flex;
    border-top: 1px solid hsl(0, 0%, 50%);
}

.mobileMenu > ul {
    flex: 1;
}

.mobileMenu > ul > li {
    flex: 1;
}

ul.supportedContent {
    position: relative;
}

.supportedPanel:not(.active) {
    display: none !important;
}

.supportedPanel {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 100%;
    left: 0px;
    right: 0px;
    height: calc(100vh - 100%);
    height: calc(var(--vh, 1vh) * 100 - 100%);
    border-bottom: 1px solid gray;

    padding: 1rem;
    background-color: var(--background-dark);
    z-index: 5;
}

@media (min-width: 48em) {
    ul.supportedContent > li {
        position: relative;
    }

    .supportedPanel {
        bottom: unset;
        left: unset;
        height: min(60vh, 40rem);
        height: min(calc(var(--vh, 1vh) * 60), 40rem);
        border-bottom: 0;
        opacity: 99%;
        top: 100%;
        width: 25rem;
        border: 1px solid gray;
        border-radius: 0.25rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    }
}

.supportedPanelHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--primary-color);
}

/*
 * cart
 */

.cartIconNumber {
    position: absolute;
    left: 50%;
    top: 3px;
    background-color: var(--primary-color);
}

.cartList {
    overflow-y: scroll;
    flex: 1;
    margin: 0.25rem 0;
}

.cartItem {
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 0;
    justify-content: space-between;
}

.cartItem:not(:last-child) {
    border-bottom: 1px solid gray;
}

.cartItem > * {
    flex: 0 0 4rem;
}

.cartNum {
    padding: 0.2rem;
    background-color: transparent;
    color: var(--text-light);
    margin-right: 0.5rem;
    text-align: center;
    border-color: gray;
}

.cartNum:focus {
    background-color: transparent;
    color: var(--text-light);
}

.cartItemName {
    flex: 1 1 auto;
    word-wrap: break-word;
    word-break: break-word;
    margin-right: 0.5rem;
}

/*
 * Loading animation
 */

.lds-ellipsis {
    display: flex;
    width: min(10rem, 50vw);
    justify-content: space-between;
    align-items: center;
}

.lds-ellipsis div:not(:first-child):not(:last-child) {
    flex-grow: 1;
}

.lds-ellipsis div:first-child {
    position: absolute;
}

.lds-ellipsis div::after {
    display: block;
    position: relative;
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: currentColor;
    animation: lds-move 1s infinite cubic-bezier(0.8, 0.2, 0.2, 0.8);
}

.lds-ellipsis div:first-child::after {
    position: static;
    animation-name: lds-appear;
}

.lds-ellipsis div:last-child:after {
    animation-name: lds-disappear;
}

@keyframes lds-appear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-disappear {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-move {
    0% {
        left: 0%;
    }

    100% {
        left: 100%;
    }
}

/*
 * Search
 */

.searchTag {
    text-decoration: none;
    color: inherit;
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    background-color: var(--primary-color);
    margin-left: 0.5rem;
    border-radius: 0.25rem;
}

/*
 * Products 
 */

.productsContainer {
    margin: 0 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.productsContainer > * {
    flex: 1 1 20rem;
    margin: 0.5rem;
    order: 0;
}

.productsContainer > *:empty {
    height: 0;
    order: 1 !important;
    margin-bottom: 0;
    margin-top: 0;
}

.product {
    background-color: white;
    color: var(--text-dark);
    height: 20rem;
}

.product .productImg {
    width: 100%;
    height: 10rem;
    object-fit: contain;
}

.productContent {
    flex: 1;
    padding: 0.5rem 1rem 0 1rem;
}

.productPrice {
    color: var(--primary-color);
    margin-bottom: 0;
}

.productPrice::before {
    content: "$";
}

.productNum {
    color: var(--text-dark);
    margin-bottom: 0;
}

.productNum::after {
    content: " piece available";
}

.product .productText {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    margin-bottom: 0;
}

.productNumInput {
    text-align: right;
}

input.productNumInput::-webkit-outer-spin-button,
input.productNumInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.productNumInput[type="number"] {
    -moz-appearance: textfield;
}

/*
 * message 
 */

.message {
    position: fixed;
    right: 1rem;
    left: 1rem;
    top: 1rem;
    bottom: 1rem;
    z-index: 9999;
    pointer-events: none;
}

.message > .alert {
    animation: msg-disappear 4s cubic-bezier(0.7, 0, 1, 0.3) forwards;
    pointer-events: painted;
    padding: 0.5rem;
    font-size: 0.8rem;
}

@keyframes msg-disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (min-width: 48em) {
    .message > .alert {
        padding: 1rem;
        font-size: 1rem;
    }
}

/*
 * message 
 */

.checkoutPanel {
    height: min(80vh, 40rem);
    height: min(calc(var(--vh, 1vh) * 80), 40rem);

    background-color: var(--background-dark);
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.checkoutHeader {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 3px solid var(--primary-color);
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.checkoutBody {
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 auto;
}

.checkoutContent {
    overflow: auto;
    flex-grow: 1;
    box-shadow: 0 2rem 2rem -1.5rem rgba(0, 0, 0, 0.5) inset, 0 -2rem 2rem -1.5rem rgba(0, 0, 0, 0.5) inset;
}

.checkoutFooter {
    padding: 1rem;
    border-top: 3px solid var(--primary-color);
    display: flex;
    border-bottom-left-radius: calc(0.3rem - 1px);
    border-bottom-right-radius: calc(0.3rem - 1px);
}

.price {
    color: var(--primary-color);
    font-weight: bold;
    margin: auto 0 auto auto;
}

.price::before {
    content: "Total ";
    color: var(--color-gray);
    font-weight: normal;
}

@media not all and (min-width: 48em) {
    .checkoutPanel {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        border-radius: unset;
    }

    .checkoutFooter {
        padding: 0.5rem;
    }

    .mobileM-0 {
        margin: 0;
    }
}

.orderTable {
    color: var(--text-light);
    --bs-table-striped-color: var(--text-light);
    --bs-table-striped-bg: rgba(255, 255, 255, 0.1);
    font-size: min(1rem, 4vw);
}

#orderTableContent > tr :nth-child(3),
#orderTableContent > tr :nth-child(4) {
    text-align: end;
}

.required::after {
    content: "*";
    color: #ff5151;
}

.loadingMask {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    color: var(--primary-color-light);
}

.loadingMask:not(.active) {
    display: none;
}
